<div class="center-this">
    <div class="container">
        <div class="col-md-12">
            <mat-card>
                <label for="Logistics project">Logistics</label>
                <h2> Logistics Project - Node at the backend (fully written in TypeScript) and Angular 8 on the client side. </h2><br>
                <button mat-raised-button color="accent" routerLink='/feature'>CLick me to test routing</button>
                <hr>               
            </mat-card>

            
        </div>
    </div>
</div>